body {
  background: url(C:\Users\hpnit\Desktop\IT-ELEC4C\MP3\forms-data\src\medium-bulb.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Work Sans !important;
}
